{% extends "index.html" %}

{% block body %}
<h1>Filter</h1>
<div class="container">
    <form action="/filter_employee" method="post">
        {% csrf_token %}
        <div class="form-group" >
          <label for="exampleInputEmail1">Name</label>
          <input type="text" name="name" id="first_name" placeholder="first name" value="{{first_name}}"><br>

          <label for="exampleInputEmail1"> Department</label>
          <input type="text" id="dept"  placeholder="Department" name="dept"  value="{{ dept }}"><br>
          <label for="exampleInputEmail1">Phone</label>
          <input type="number" name="phone" id="phone"  placeholder="Phone" value="{{ phone }}"><br>
          <label for="exampleInputEmail1">Role</label>
          <input type="Role" name="role" id="role"  placeholder="Role" value="{{ role }}"><br>
          
    
    
          
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>
{% endblock body %}